<div id="page_wrapper">
  <h3><%= creatures[0].name %></h3>
  <p>Hitpoints: <strong><%= creatures[0].hp %></strong></p>
  <p>Type: <strong><%= creatures[0].type %></strong></p>
  <h2>VS</h2>
  <h3><%= creatures[1].name %></h3>
  <p>Hitpoints: <strong><%= creatures[1].hp %></strong></p>
  <p>Type: <strong><%= creatures[1].type %></strong></p>
</div>
